<ion-view title="Home" id="page1"  style="width: 100% !important; min-height: 100% !important; height: 100% !important;">
    <ion-content padding="true" class="has-header" style="width: 100% !important; min-height: 100% !important; height: 100% !important;">
        
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/iLE3tj7QlWkupygi3wFJ_marketcan logo.JPG" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <!--<img src="img/running-black.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">-->
            <img src="img/dog.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            <!--<img src="img/running2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">-->
        </div>
        
        <!--<div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/0KtuXcFkT0mmocjHlu0N_marketcan home 2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/SXygrRmS8jKssGsrtrNA_marketcan home.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>-->
        
        
        <!--<button id="promociones-button2" class="button button-dark  button-block" onclick="window.open('http://www.marketcan.net/', '_system', 'location=yes'); return false;">Ir a marketcan!</button>
        <button id="promociones-button2" class="button button-dark  button-block" onclick="window.open('http://www.marketcan.net/', '_self', 'location=yes'); return false;">Ir a marketcan AQUII!</button>
        <button id="promociones-button2" class="button button-dark  button-block" onclick="window.open('http://www.marketcan.net/', '_blank', 'location=no'); return false;">Ir a marketcan AQUII 2!</button>
        -->
        <!--<div style="width: 100%; min-height: 100%; height: 100%;">
        <iframe class="superfill" src="http://www.marketcan.net/"></iframe>
        </div>       -->
        
            
    </ion-content>
</ion-view>